{% extends 'base.html' %}

{% block head %}
    <title>Book editing</title>
{% endblock %}

{% block body %}
<div class="content" style="text-align: center">
    <h2 style="text-align: center">Book editing</h2>
	<form method="POST" action="/edit/{{ book.ISBN }}" class="form-field">
	   <dl>
	    {{ form.csrf_token }}
	      <dt>{{ form.Title.label }}
		   <dd><input type="text" name="Title" id="Title" value="{{ book.title }}">
  			{% if form.Title.errors %}
    			<ul class=errors>
    				{% for error in form.Title.errors %}
      					<li>{{ error }}</li>
    				{% endfor %}
    			</ul>
  				{% endif %}
  			</dd>
		   <dt>{{ form.Author.label }}
		   <dd><input type="text" name="Author" id="Author" value="{{ book.author }}">
  			{% if form.Author.errors %}
    			<ul class=errors>
    				{% for error in form.Author.errors %}
      					<li>{{ error }}</li>
    				{% endfor %}
    			</ul>
  				{% endif %}
  			</dd>
		   <dt>{{ form.PublishedDate.label }}
		   <dd><input type="text" name="PublishedDate" id="PublishedDate" value="{{ book.published_date }}">
  			{% if form.PublishedDate.errors %}
    			<ul class=errors>
    				{% for error in form.PublishedDate.errors %}
      					<li>{{ error }}</li>
    				{% endfor %}
    			</ul>
  				{% endif %}
  			</dd>

        <dt>{{ form.ISBN.label }}
		   <dd><input type="text" name="ISBN" id="ISBN" value="{{ book.ISBN }}">
  			{% if form.ISBN.errors %}
    			<ul class=errors>
    				{% for error in form.ISBN.errors %}
      					<li>{{ error }}</li>
    				{% endfor %}
    			</ul>
  				{% endif %}
  			</dd>
        <dt>{{ form.PageCount.label }}
		   <dd><input type="text" name="PageCount" id="PageCount" value="{{ book.page_count }}">
  			{% if form.PageCount.errors %}
    			<ul class=errors>
    				{% for error in form.PageCount.errors %}
      					<li>{{ error }}</li>
    				{% endfor %}
    			</ul>
  				{% endif %}
  			</dd>
		   <dt>{{ form.Url_thumbnail.label }}
		   <dd><input type="text" name="Url_thumbnail" id="Url_thumbnail" value="{{ book.url_thumbnail }}">
  			{% if form.Url_thumbnail.errors %}
    			<ul class=errors>
    				{% for error in form.Url_thumbnail.errors %}
      					<li>{{ error }}</li>
    				{% endfor %}
    			</ul>
  				{% endif %}
  			</dd>
        <dt>{{ form.Language.label }}
		   <dd><input type="text" name="Language" id="Language" value="{{ book.language }}">
  			{% if form.Language.errors %}
    			<ul class=errors>
    				{% for error in form.Language.errors %}
      					<li>{{ error }}</li>
    				{% endfor %}
    			</ul>
  				{% endif %}
  			</dd>

	    <input type="submit" value="Edit">
         <a href="/">Return</a>
	    </dl>
	</form>
</div>
{% endblock %}