{% extends "base.html" %}

{% block head %}
    <title>Import page by author</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1 style="text-align: center">You are filtering your bookshelf by author</h1>

        <div class="form">
            <form method="post">
                <input type="text" name="author_filter" id="author_filter">
                <br>
                <input type="submit" value="Search">
                <a href="/filter">Return</a>
            </form>
        </div>
    </div>
{% endblock %}
