{% extends "base.html" %}

{% block head %}
    <title>Import page by title</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1 style="text-align: center">You are importing new books by title</h1>

        <div class="form">
            <form actions="/list_of_imported_books" method="post">
                <input type="text" name="title" id="title">
                <br>
                <input type="submit" value="Search">
                <a href="/import">Return</a>
            </form>
        </div>
    </div>
{% endblock %}
