{% extends "base.html" %}

{% block head %}
    <title>Bookshelf</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1 style="text-align: center">Your bookshelf</h1>
        {% if books|length < 1 %}
            <h4 style="text-align: center">There are no book in your database.</h4>
            <h4 style="text-align: center">Choose what you want to do:</h4>
            <a href="/adding">Add</a>
            <a href="/import">Import</a>
        {% else %}

            <table class="center">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Published Date</th>
                    <th>ISBN</th>
                    <th>Page count</th>
                    <th>Link to book cover</th>
                    <th>Language</th>
                    <th>Tasks</th>
                </tr>
                {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.published_date }}</td>
                        <td>{{ book.ISBN }}</td>
                        <td>{{ book.page_count }}</td>
                        <td>{{ book.url_thumbnail }}</td>
                        <td>{{ book.language }}</td>
                        <td>
                            <a href="/delete/{{ book.ISBN }}">Delete</a>
                            <br>
                            <a href="/edit/{{ book.ISBN }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <a href="/adding">Add</a>
            <a href="/import">Import</a>
            <a href="/filter">Filter</a>
        {% endif %}

    </div>
{% endblock %}